.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quote {
  margin-top: 2rem;
  font-size: 20px;
  text-align: center;
}

.btn {
  margin-top: 2rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}
.text {
  font-size: 25px;
}
